<nav [ngClass]="{'backdrop-blur-sm': activeBackdrop} " class="bg-transparent  fixed w-full z-20 top-0 start-0  border-none dark:border-none" (scroll)="onScroll()">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/logo-vector.svg" class="h-8" alt="Aldrich Logo">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Streaming</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="flex items-center gap-4">
        <span class="cursor-pointer" (click)="activeSearchBar()">
          <svg class="size-6 text-white"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </span>

        <span class="cursor-pointer">
          <svg class="size-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
          </svg>

        </span>



      </div>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 bg-darkCustom-dark-06 rounded-md border border-darkCustom-dark-15 py-2 px-2"  id="navbar-sticky">

      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-none rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-transparent md:dark:bg-transparent dark:border-none">
        <li  >
          <button
            (click)="setActiveTab('home')"
            [ngClass]="{
                  'bg-darkCustom-dark-12 text-white': activeTab === 'home',
                  'text-greyCustom-grey-60': activeTab !== 'home'
                }"
            class="inline-block w-full p-3 rounded-md"
          >
            Home
          </button>
        </li>
        <li >
          <button
            (click)="setActiveTab('movies')"
            [ngClass]="{
                  'bg-darkCustom-dark-12 text-white': activeTab === 'movies',
                  'text-greyCustom-grey-60': activeTab !== 'movies'
                }"
            class="inline-block w-full p-3 rounded-md"

          >
            Movies
          </button>
        </li>

        <li >
          <button
            (click)="setActiveTab('football')"
            [ngClass]="{
                  'bg-darkCustom-dark-12 text-white': activeTab === 'football',
                  'text-greyCustom-grey-60': activeTab !== 'football'
                }"
            class="inline-block w-full p-3 rounded-md"
          >
            Football
          </button>
        </li>

        <li >
          <button
            (click)="setActiveTab('events-show')"
            [ngClass]="{
                  'bg-darkCustom-dark-12 text-white': activeTab === 'events-show',
                  'text-greyCustom-grey-60': activeTab !== 'events-show'
                }"
            class="inline-block w-full p-3 rounded-md"
          >
            Events & Show
          </button>
        </li>

        <li >
          <button
            (click)="setActiveTab('formations')"
            [ngClass]="{
                  'bg-darkCustom-dark-12 text-white': activeTab === 'formations',
                  'text-greyCustom-grey-60': activeTab !== 'formations'
                }"
            class="inline-block w-full p-3 rounded-md"
          >
            Formations
          </button>
        </li>

      </ul>
    </div>
  </div>
</nav>
