<div class="h-[342px] w-[295px] p-[20px] cursor-pointer  border border-darkCustom-dark-15 rounded-lg bg-darkCustom-dark-10">
  <div class="relative">
    <div class="absolute z-10 h-72 w-full bottom-0 bg-gradient-to-t from-[#1A1A1A] via-[#1A1A1A]/1 to-transparent"></div>
    <img src="../../../../assets/categories-views.png" class="w-full h-full" alt="">

  </div>
  <div class="w-full mt-2">
    <div class="flex items-center justify-between">
      <div class="w-1/2">
        <span class="text-white font-semibold xs:text-[14] md:text-[16] xs:text-[18]">Action</span>
      </div>

      <div class="w-1/2 flex justify-end">
        <svg class="rtl:rotate-180 w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </div>
    </div>
  </div>
</div>
