<div class="p-8 bg-darkCustom-dark-10 flex flex-col gap-4 rounded-md">
  <div>
    <h3 class="text-white font-bold xs:text-[18px]  md:text-[20px] lg:text-[24px]" >Basic Plan</h3>
    <p class="text-greyCustom-grey-60 xs:text-[14px]  md:text-[16px] lg:text-[18px] mt-2">
      Enjoy an extensive library of movies and shows,
      featuring a range of content, including recently released titles.
    </p>
  </div>
  <div class="flex items-end ">
    <h5 class="text-white m-0 p-0 font-semibold xs:text-[24px] md:text-[30px] lg:text-[40px] flex items-baseline">
      $9.99
    </h5>
    <span class="text-greyCustom-grey-60 mb-2 font-medium xs:text-[14px] md:text-[16px] lg:text-[18px] ml-2">
        {{planFrequency}}
      </span>

  </div>

  <div class="flex items-center gap-2 whitespace-nowrap">
    <button type="button"
            class="py-2.5 px-5 me-2  font-medium text-white  border border-darkCustom-dark-15  focus:outline-none bg-darkCustom-dark-08 rounded-lg ">
      Start Free Trial
    </button>

    <button type="button"
            class="py-2.5 px-5 me-2  font-medium text-white hover:bg-red-800  focus:outline-none bg-redCustom-red-45 rounded-lg border border-0 ">
      Choose Plan
    </button>

  </div>
</div>
