<section>
  <main>
    <app-stream-title-sub
      [title]="'We Provide you streaming experience across various devices.'"
      [subTitle]="'With StreamVibe, you can enjoy your favorite movies and TV shows anytime, anywhere. Our platform is designed to be compatible with a wide range of devices, ensuring that you never miss a moment of entertainment.'"
    ></app-stream-title-sub>

    <br>
    <br>

    <div class="grid xs:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        class="rounded-lg bg-gradient-to-bl from-redCustom-red-45/10 via-darkCustom-dark-08 p-6 border border-darkCustom-dark-15 shadow-sm">
        <div class="flex items-center gap-4">
          <button type="button"
                  class="xs:w-[44px] xs:h-[44px]  md:w-[54px] md:h-[54px] lg:w-[72px] lg:h-[72px]   flex justify-center items-center
                 cursor-pointer group focus:outline-none
                 bg-darkCustom-dark-08 border border-darkCustom-dark-15 p-2
               focus:outline-none focus:ring-0 rounded-md   ">
            <img src="assets/list-devices/smartphone.svg" class="w-full h-full" alt="">

          </button>

          <span class="text-white xs:text-[18px] md:text-[20px] lg:text-[24px] font-semibold">Smartphones</span>
        </div>
        <br>
        <div>
          <p class="xs:text-[14px]  md:text-[16px] lg:text-[18px] text-greyCustom-grey-60 font-normal text-justify">
            StreamVibe is optimized for both Android and iOS smartphones.
            Download our app from the Google Play Store or the Apple App Store
          </p>
        </div>
      </div>

      <div
        class="rounded-lg bg-gradient-to-bl from-redCustom-red-45/10 via-darkCustom-dark-08 p-6 border border-darkCustom-dark-15 shadow-sm">
        <div class="flex items-center gap-4">
          <button type="button"
                  class="xs:w-[44px] xs:h-[44px]  md:w-[54px] lg:h-[54px] lg:w-[72px] lg:h-[72px]   flex justify-center items-center
                 cursor-pointer group focus:outline-none
                 bg-darkCustom-dark-08 border border-darkCustom-dark-15 p-2
               focus:outline-none focus:ring-0 rounded-md   ">
            <img src="assets/list-devices/tablette.svg" class="w-full h-full" alt="">

          </button>

          <span class="text-white xs:text-[18px] md:text-[20px] lg:text-[24px] font-semibold">
          Tablet
        </span>
        </div>
        <br>
        <div>
          <p class="xs:text-[14px]  md:text-[16px] lg:text-[18px] text-greyCustom-grey-60 font-normal text-justify">
            StreamVibe is optimized for both Android and iOS smartphones.
            Download our app from the Google Play Store or the Apple App Store
          </p>
        </div>
      </div>

      <div
        class="rounded-lg bg-gradient-to-bl from-redCustom-red-45/10 via-darkCustom-dark-08 p-6 border border-darkCustom-dark-15 shadow-sm">
        <div class="flex items-center gap-4">
          <button type="button"
                  class="xs:w-[44px] xs:h-[44px]  md:w-[54px] lg:h-[54px] lg:w-[72px] lg:h-[72px]   flex justify-center items-center
                 cursor-pointer group focus:outline-none
                 bg-darkCustom-dark-08 border border-darkCustom-dark-15 p-2
               focus:outline-none focus:ring-0 rounded-md   ">
            <img src="assets/list-devices/smart-tv.svg" class="w-full h-full" alt="">

          </button>

          <span class="text-white xs:text-[18px] md:text-[20px] lg:text-[24px] font-semibold">
          Smart TV
        </span>
        </div>
        <br>
        <div>
          <p class="xs:text-[14px]  md:text-[16px] lg:text-[18px] text-greyCustom-grey-60 font-normal text-justify">
            StreamVibe is optimized for both Android and iOS smartphones.
            Download our app from the Google Play Store or the Apple App Store
          </p>
        </div>
      </div>

      <div
        class="rounded-lg bg-gradient-to-bl from-redCustom-red-45/10 via-darkCustom-dark-08 p-6 border border-darkCustom-dark-15 shadow-sm">
        <div class="flex items-center gap-4">
          <button type="button"
                  class="xs:w-[44px] xs:h-[44px]  md:w-[54px] lg:h-[54px] lg:w-[72px] lg:h-[72px]   flex justify-center items-center
                 cursor-pointer group focus:outline-none
                 bg-darkCustom-dark-08 border border-darkCustom-dark-15 p-2
               focus:outline-none focus:ring-0 rounded-md   ">
            <img src="assets/list-devices/laptops.svg" class="w-full h-full" alt="">

          </button>

          <span class="text-white xs:text-[18px] md:text-[20px] lg:text-[24px] font-semibold">
          Laptops
        </span>
        </div>
        <br>
        <div>
          <p class="xs:text-[14px]  md:text-[16px] lg:text-[18px] text-greyCustom-grey-60 font-normal text-justify">
            StreamVibe is optimized for both Android and iOS smartphones.
            Download our app from the Google Play Store or the Apple App Store
          </p>
        </div>
      </div>

      <div
        class="rounded-lg bg-gradient-to-bl from-redCustom-red-45/10 via-darkCustom-dark-08 p-6 border border-darkCustom-dark-15 shadow-sm">
        <div class="flex items-center gap-4">
          <button type="button"
                  class="xs:w-[44px] xs:h-[44px]  md:w-[54px] lg:h-[54px] lg:w-[72px] lg:h-[72px]   flex justify-center items-center
                 cursor-pointer group focus:outline-none
                 bg-darkCustom-dark-08 border border-darkCustom-dark-15 p-2
               focus:outline-none focus:ring-0 rounded-md   ">
            <img src="assets/list-devices/gaming-console.svg" class="w-full h-full" alt="">

          </button>

          <span class="text-white xs:text-[18px] md:text-[20px] lg:text-[24px] font-semibold">
          Gaming Consoles
        </span>
        </div>
        <br>
        <div>
          <p class="xs:text-[14px]  md:text-[16px] lg:text-[18px] text-greyCustom-grey-60 font-normal text-justify">
            StreamVibe is optimized for both Android and iOS smartphones.
            Download our app from the Google Play Store or the Apple App Store
          </p>
        </div>
      </div>

      <div
        class="rounded-lg bg-gradient-to-bl from-redCustom-red-45/10 via-darkCustom-dark-08 p-6 border border-darkCustom-dark-15 shadow-sm">
        <div class="flex items-center gap-4">
          <button type="button"
                  class="xs:w-[44px] xs:h-[44px]  md:w-[54px] lg:h-[54px] lg:w-[72px] lg:h-[72px]   flex justify-center items-center
                 cursor-pointer group focus:outline-none
                 bg-darkCustom-dark-08 border border-darkCustom-dark-15 p-2
               focus:outline-none focus:ring-0 rounded-md   ">
            <img src="assets/list-devices/smartphone.svg" class="w-full h-full" alt="">

          </button>

          <span class="text-white xs:text-[18px] md:text-[20px] lg:text-[24px] font-semibold">Smartphones</span>
        </div>
        <br>
        <div>
          <p class="xs:text-[14px]  md:text-[16px] lg:text-[18px] text-greyCustom-grey-60 font-normal text-justify">
            StreamVibe is optimized for both Android and iOS smartphones.
            Download our app from the Google Play Store or the Apple App Store
          </p>
        </div>
      </div>

    </div>
  </main>

</section>
