

<footer class="bg-darkCustom-dark-06">
  <div class="mx-auto w-full max-w-screen-xl p-4  ">
    <hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-greyCustom-grey-60  font-medium sm:text-center ">
            © 2025 <a href="/" class="hover:underline">Streaming™</a>. All Rights Reserved.
          </span>
      <div class="flex gap-2 mt-4 sm:justify-center text-greyCustom-grey-60  font-normal text-sm  sm:mt-0">
        <span>
          <a href="">Terms of Use</a>
        </span>
        <span> | </span>
        <span>
          <a href="">Privacy Policy</a>
        </span>
        <span> | </span>
        <span>
          <a href="">Cookie Policy</a>
        </span>
        <span> | </span>
        <span >
          <a href="https://sn.linkedin.com/in/aldrichclementd/">Developer</a>
        </span>
      </div>
    </div>
  </div>
</footer>
